
<div id="fortune-container">Replace me with a Fortune!</div>
<button id="random-fortune">Get a random Fortune!</button>


<input id="fortune-adder"></input>
<button id="fortune-submit"> Submit! </button>
